/* MEDIA QUERIES  */
/* Desktop  */
@media screen and (min-width: 1440px) {

  .--normal-size {
    height: 40px;
    width: 40px;
  }

  /* Shared  */
  .flex-main-container {
    max-width: unset;
  }

  .section {
    margin: 0;
  }

  .about-section__title,
  .follow-us-section__title {
    margin-top: 0;
    font-size: var(--xl);
  }

  .about-section__title::after,
  .follow-us-section__title::after {
    width: 55px;
    height: 55px;
  }

  /* HEADER  */
  .main-header {
    flex-wrap: nowrap;
    margin-bottom: 162px;
    max-width: unset;
    background-color: var(--cardBgColor);
  }
  .main-header__banner {
    justify-content: center;
    align-items: flex-start;
    order: 1;
    flex-basis: 100%;
    max-width: 611px;
    background: none;
  }

  .app-logo {
    margin: 0;
  }

  .app-logo img {
    min-width: 331px;
  }

  .main-header__banner-description {
    text-align: left;
    margin: 0;
    max-width: 611px;
    font-size: var(--m);
    margin-bottom: 50px;
  }

  .main-header__banner-buttons-container {
    justify-content: flex-start;
    margin: 0;
  }

  .play-store img {
    width: 260px;
    height: auto;
  }
  .app-store img {
    width: 235px;
  }  

  .main-header__banner-image {
    max-width: 745px;
  }

  .buttons-container__get-it-button:first-child {
    margin-right: 39px;
  }

  /* About  */

  .main-content__about {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }

  .about-section__description {
    max-width: 720px;
    margin-bottom: 108px;
  }

  /* Feature card  */
  .main-content__feature-cards {
    justify-content: center;
    align-items: flex-start;
  }

  .main-content__feature-cards .feature-card {
    max-width: 375px;
    margin: 0;
    padding: 75px 17px 90px 17px;
  }

  .main-content__feature-cards .feature-card:not(:last-child) {
    margin-right: 45px;
  }

  .feature-card__description {
    font-size: var(--s);
    max-width: 342px;
  }

  /* Follow us  */
  .main-content__follow-us {
    margin: 225px auto 166px auto;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    max-width: 1440px;
  }

  .follow-us-section__data {
    align-items: flex-start;
    flex-basis: 50%;
  }

  .follow-us-section__title {
    margin: 0;
    text-align: left;
  }

  .follow-us-section__description {
    text-align: left;
    max-width: 565px;
    margin: 5px 0 31px;
  }

  .follow-us-section__image {
    margin: 0;
    max-width: 460px;
  }

  .follow-us-buttons-container {
    width: auto;
    justify-content: flex-start;
  }

  .follow-us-buttons-container .button svg {
    max-height: 18px;
  }

  /* Suscribe  */
  .suscribe-section__description,
  .suscribe-section__form {
    max-width: 565px;
  }

  .suscribe-section__form {
    margin-bottom: 87px;
  }

  .form-content {
    justify-content: space-between;
  }

  .suscribe-section__input {
    width: 100%;
    max-width: 440px;
  }

  .suscribe-section__button {
    font-size: var(--l);
  }

  /* Footer  */
  .main-footer {
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin-top: 106px;
    margin-bottom: 76px;
  }

  .main-footer .app-logo {
    margin: 0;
  }

  .main-footer .app-logo img {
    max-width: 193px;
    min-width: unset;
  }

  .footer-follow-us {
    text-align: left;
    margin-bottom: 25px;
  }

  .footer__buttons-container {
    justify-content: flex-start;
    width: auto;
  }

  .footer-copyright {
    margin: 97px auto 0 auto;
  }

}

/* @media screen and (min-width:1279px) {
  .main-content__feature-cards {
    justify-content: center;
  }

  .feature-card {
    margin-bottom: 46px;
  }

  .feature-card:not(:last-child) {
    margin-right: 46px;
  }
} */